{{>partials/header}}

<fieldset>
    <legend>Adicionar Novo Usuário</legend>
    <form action="/novo-usuario" method="post">
        <input type="text" name="firstName" placeholder="Digite seu nome"> <br>
        <input type="text" name="lastName" placeholder="Digite seu sobrenome"> <br>
        <input type="email" name="email" placeholder="Digite seu E-mail"> <br>
        <input type="text" name="age" placeholder="Digite sua idade"> <br>
        <input type="text" name="interests" placeholder="Digite seus interesses (separado por vírgula)"> <br><br>
        <input type="submit" value="Inserir"><br>
    </form>
</fieldset>

<h3>Usuários</h3>
<ul>
    {{#users}}
    <li>{{name.firstName}} {{name.lastName}} - {{age}} anos - {{email}} - {{interests}} </li>
    {{/users}}
</ul>


{{>partials/footer}}